body {
    margin: 0;
    padding: 0;
    font-family: "Lucida Sans", sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #333;
}

img {
    filter: blur(10px);
    opacity: 0.7;
    transition: filter 0.8s ease-out, opacity 0.8s ease-out;
}

img.visible {
    filter: blur(0);
    opacity: 1;
}


.header-logo {
    display: flex;
    align-items: center;
}

.header-logo img {
    width: 100px;
    height: auto;
    padding: 20px;
}

.header-logo-text {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.header-name {
    position: fixed;
    font-size: 24px;
    margin-left: 20px;
}

.header-nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex: 1;
}

.header-nav a {
    text-decoration: none;
    color: #101010;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.header-nav a:hover {
    color: #abb8c3;
}

.header-icons {
    display: flex;
    align-items: center;
    padding: 40px;
    gap: 20px;
}

.main-photo-section img {
    width: 100vw;
    height: auto;
}

.some-text-section {
    height: 500px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #333;
}

.some-text-section div {
    transform: translateY(50px);
    opacity: 0;
    transition: transform 0.6s ease-out, opacity 0.6s ease-out;
    padding: 50px;
    text-align: center;
    font-family: "Lucida Sans", sans-serif;
}

.some-text-section div.visible {
    transform: translateY(0);
    opacity: 1;
}

.some-text-section h2 {
    color: #344e41;
}

.side-photo {
    display: flex;
}

.accent-box {
    display: flex;
    background: #344e41;
    color: white;
    height: 660px;
}

.side-text {
    margin-left: 350px;
    margin-top: 250px;
    text-align: center;
}

.gallery-section {
    margin-top: 150px;
    padding: 50px 0;
    text-align: center;
    background-color: #f4f4f4;
}

.gallery-section h2 {
    color: #344e41;
    margin-bottom: 20px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.gallery-item {
    position: relative;
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: auto;
}

.gallery-item:hover img {
    transform: scale(1.1);
    transition: 0.4s ease-out;
}

.reviews-section {
    margin-top: 100px;
    margin-bottom: 100px;
}

.reviews-section-review {
    display: flex;
    justify-content: space-between;
}

.stars {
    align-items: center;
    padding: 40px;
}

.reviews-section h2 {
    margin-left: 20px;
    color: #344e41;
}

.reviews-section blockquote {
    color: #101010;
    padding: 20px;
    border-left: 5px solid #344e41;
    margin: 20px;
}

.map-section {
    text-align: center;
}

.map-section iframe {
    width: 100%;
    height: 350px;
    border: none;
}

footer {
    align-items: center;
    justify-content: center;
    margin-top: 0;
    background: #101010;
    color: white;
    display: flex;
    gap: 100px
}

footer div {
    padding: 40px;
}


